/* global values */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
body {
    font-family: 'Prompt', sans-serif;
}
/* small screens */
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (max-width:767px){
    .special-heading {
        font-size: 60px;
    }
    .special-heading+p {
        margin:-20px 0  0 ;
        font-size: 15px;
    }
}
/* medium screens */
@media (min-width:992px){
    .container {
        width: 970px;
    }
}
/* large screens */
@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* end global values */
/* components */
.component {
    margin: 50px 0;
}
    .component h1{
        font-size: 60px;
        font-weight: 800;
        margin: 50px 0;
        color: #221d1d;
    }
    .component p {
        max-width: 700px;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.6;
    }
    @media (max-width:1200px){
        .component h1 {
            text-align: center;
        }
    }
/* components */
/* start header */
.header {
    background-color: white;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .image {
    height: 90px;
    display: flex;
    align-items: center;
}
.header .image img {
    max-width: 95px;
    max-height: 53px;
}
.header .main-nav {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.header .main-nav li a{
    text-decoration: none;
    color:var(#1e1e1e);
    padding: 20px;
    font-size: 15px;
}
.header .list {
    cursor: pointer;
    position: relative;
    transition: .3s;
}
.header  .bar{
    width: 40px;
    height: 3px;
    background-color: black;
    margin-bottom: 10px;
    display: none;
    transition: 0.3s;
    position: relative;
}
.header .list:hover .bar.one {
    transform: rotate(-45deg) translate(-9px, 7px);
}
.header .list:hover .bar.two {
    transform: rotate(45deg);
}
.header .list:hover .bar.three {
    display: none;
}


@media(max-width:767px) {
    .header .bar {
        display: block;
    }
    .header .main-nav {
        position: absolute;
        width: 100vw;
        background-color: #ddd;
        top: -21px;
        min-height: 100vh;
        right: -15px;
        flex-direction: column;
        display: none;
        transition: .3s;
    }
    .header .list:hover .main-nav {
        display: flex;
    }
    .header .main-nav  li a{
        padding: 40px;
        display: block;
        font-size: 30px;
        position: relative;
        transition: 0.3s;
    }
    .header .main-nav  li a:hover{
       transform: translateY(-5px);
    }
    }

/* end header */
/* start hero */
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}
    .hero .container {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between ;
    }
    .hero .image ,
    .hero .text {
        flex-basis:50%;
    }
    @media (max-width:1200px){
        .hero .image ,
    .hero .text {
        flex-basis: calc(100% - 10px);
    }
    .hero .text{
        text-align: center;
    }
    .hero .text a {
        margin :auto;
    }
    .hero .text p {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
    }
    .hero .image img {
        max-width: 570px;
        display: none;
    }
    @media (min-width:1200px) {
        .hero .image img {
            display: block;
        }
    }
    .hero .text {
        padding-top: 60px;
    }
    .hero .text h1 {
        font-size: 40px;
        word-break: break-all;
        line-height: 1.6;
        font-weight: 800;
        margin: 0;
        color: #221d1d;
    }
    .hero .text p {
       font-size: 15px;
       margin-top: 30px ;
       margin-bottom: 30px ;
       font-weight: 700;

    }
    .hero .text a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 20px;
        background-color: #ffe100;
        width: fit-content;
        color:#221d1d ;
        transition: 0.3s;
    }
    .hero .text a:hover {
        background-color: #221d1d;
        color: #ffe100;
    }
/* end hero */
/* start work-show*/
.work-list {
    margin:50px 0 ;
}
.work-show .w-menu{
    display: flex;
    gap: 10px;
}
.work-show .w-menu li a{
    color: #221d1d;
    width: fit-content;
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 700;
}
.work-show .w-menu li a:hover {
    background-color: #ffe100;
}
.work-show .w-menu li:first-child a{
    background-color: #ffe100;
}
.work .gallery {
    display: flex;
justify-content: flex-start;
align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.work .col {
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}
.container .btn {
    text-align: center;
    display: block;
    margin: 100px auto;
    text-decoration: none;
    color: #221d1d;
    background-color: #ffe100;
    width: fit-content;
    padding:20px 30px;
    transition: 0.3s;
}
.btn:hover {
    background-color: #221d1d;
    color: #ffe100;
}
.partners {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width:767px) {
    .partners img {
        width: 100px;
        height: 87.3px;
    }
}
/* end work-show*/
/* start about */
.about {
    padding-bottom: 100px;
}
.about .container .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.info .col {
    flex-basis: calc(90% / 3);
}
.info .col.text {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info .col.text h3 {
    font-size: 30px;
}
.info .col.text p {
    margin: 40px 0;
    line-height: 2;
    font-weight: 700;
}
.info .col.text a {
    text-decoration: none;
    color: #221d1d;
    font-weight: 700;
    display: block;
    width: fit-content;
    transition: .3s;
}
.info .col.text a:hover {
    color: #6c5050;
}
.info .col.image {
    position: relative;
    overflow: hidden;
}
.info .col.image .desc{
    position: absolute;
    width: 70%;
    bottom: 5px;
    padding: 10px 20px;
    background-color: #ffe100;
    left: -250px;
    transition: 0.3s;
}
.info .col.image:hover .desc{
    left: 0;
}

.info .col.image .desc p:first-child{
    font-weight: 700;
    margin-bottom: 5px;
}
.info .col.image .desc p:last-child{
    color: white;
}
/* end about */
/* start blog */
.blog {
    padding-bottom: 100px;
}
.blog .bl-stor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bl-stor .story{
    flex-basis: calc(95%/ 3);
    position: relative;
    overflow: hidden;
} 
.story img {
    width: 100%;
}
.story h3 {
    margin: 20px 0;
}
.story > p:first-of-type {
    margin: 20px 0;
    font-size: 15px;
    

}
.story > p:last-of-type {
    font-size: 13px;
    font-weight: 700;
}
.story .image {
    position: relative;
    overflow: hidden;
}
.story .image .overlay {
    background-color: #ffe100;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}
.overlay.down {
    bottom: -400px;
}
.story .image:hover .overlay.down {
    bottom:0;
}
.overlay.left {
    top: 0;
    left: -400px;
}
.story .image:hover .overlay.left {
    left:0;
}
.overlay.up {
    top: -400px;
}
.story .image:hover .overlay.up {
    top:0;
}


.overlay p {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-weight: 800;
}
/* end blog */
.contact .cont {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;
}
.cont .content h2 {
    font-size: 30px;
    color: #221d1d;
}
.cont .content .main-input{
    border: none;
    font-size: 15px;
    width: 100%;
    padding: 20px;
    background-color: #fbfbfb;
    margin: 10px 0;
    outline: none;
}
#area {
    height: 200px;
    background-color: #fbfbfb;
    width: 100%;
    max-width: 570px;
    padding: 15px;
    font-size: 12px;
    border: 2px solid #fbfbfb;
    margin: 5px 0;
}
.main-input:focus {
    background-color: #ffe100;
}